body{
    color:rgb(13, 100, 161);
    background:aquamarine;
}

header {
    border-bottom:solid 2px rgb(209, 98, 237);
    padding: 20px;
    font-size: 32px;
    color:darkolivegreen;
}

section{
    background: rgb(145, 36, 54);
}