body{
    color:rgb(32, 127, 194);
    background:rgb(196, 225, 250);
    margin:0px;
    font-family: "Libertinus Sans", sans-serif;
}
h1{
    color:rgb(24, 43, 96);
}
header {
    border-bottom:solid 2px rgb(209, 98, 237);
    padding: 20px;
    font-size: 32px;
    color:darkolivegreen;
}

section{
    background: rgb(141, 170, 196);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
        margin-right: 5%;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
    }
    


